<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border" [ngStyle]="{'background-image': 'linear-gradient(#13860400 0%, #13860481 80%, #138604d5 100%), url(' + imagen  + ')'}">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-fab-button size="small" color="primary" routerLink="../../sitetours">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
      <ion-buttons slot="end" (click)="addSiteToFavorite()">
        <ion-fab-button size="small" color="primary">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-label style="color: white;">
      {{nombre}}
      <p class="ion-margin-top">
        <ion-text style="font-family: system-ui; letter-spacing: 0.5px; color: #eee;">{{ubicacion}}</ion-text>
      </p>
    </ion-label>
  </ion-header>

  <ion-segment
  (ionChange)="segmentChanged($event)"
  [(ngModel)]="segmentValue"
  class="ion-padding-horizontal"
  style="margin-top: 2%; background-color: green;">
  <ion-segment-button value="1">
    <ion-label  style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 800; text-transform: uppercase;">Descripción</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label  style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 800; text-transform: uppercase;">¿Cómo llegar?</ion-label>
  </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="segmentValue === '1'">
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none" color="primary">
          <ion-icon name="time-sharp" slot="start"></ion-icon>
          <ion-label>
            <ion-text color="dark"
            style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 800; text-transform: uppercase;">
            Horario</ion-text>
            <p>
              <ion-text color="dark">
              <a style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 450;">
              {{atencion}}
              </a></ion-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none" color="primary">
          <ion-icon name="star-sharp" slot="start"></ion-icon>
          <ion-label>
            <ion-text
            style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 800; text-transform: uppercase;">
            Calificación</ion-text>
            <p>
              <ion-text color="dark"
              style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 450;">
              4.8 de 5</ion-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-text color="medium" class="ion-text-justify ion-padding-horizontal description" style="font-size: 17.3px;">
        {{descripcion}}
      </ion-text>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="segmentValue === '2'">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="primary" [routerLink]="['/', idSitio]">
          <ion-icon name="car-sport-sharp" slot="start"></ion-icon>
          <ion-label>
            <ion-text color="dark"
            style="font-size: 0.9rem; color: white; font-family: system-ui; font-weight: 800; text-transform: uppercase;">
            Obtener la ruta más óptima
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item style="margin-top: 2%;">
          <ion-icon name="walk" style="font-weight: 800; color: green; font-size: 50px;"></ion-icon>
          <ion-text style="font-weight: 600; font-family: system-ui;">Al momento de llegar por favor, guardar su basura y botar en lugares apropiados.</ion-text>
        </ion-item>
        <ion-item style="margin-top: 5%;">
          <ion-icon name="ban" style="font-weight: 800; color: green; font-size: 40px;"></ion-icon>
          <ion-text style="font-weight: 600; font-family: system-ui;">No rayar en ningun espacio de las infraestructuras del sitio turistico.</ion-text>
        </ion-item>
        <ion-item style="margin-top: 5%;">
          <ion-icon name="water" style="font-weight: 800; color: green; font-size: 40px;"></ion-icon>
          <ion-text style="font-weight: 600; font-family: system-ui;">Llevar su propia agua mineral (de preferencia alguna botella recicable).</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
    <ion-button expand="block" color="white" size="large" [routerLink]="['../details', idSitio]">
      <ion-text>Ver Imagen en 360°</ion-text>
      <ion-icon class="ion-padding-start" slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-footer>
