<ion-header>
  <ion-toolbar color="primary">
    <ion-title  style="font-weight: 800; text-align: center; color: rgb(255, 255, 255); font-family: system-ui; font-size: 17px; text-transform: uppercase;">Servicios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="../home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search">
    <ion-searchbar
    placeholder="Buscar..."
    [(ngModel)]="searchTerm"
    showCancelButton="focus"
    cancelButtonText="Borrar"
    animated
    color="primary"
    style="font-family: system-ui;"
    >
  </ion-searchbar>

  <ion-list>
    <ion-label style="font-family: system-ui; font-weight: 800; text-align: center; font-size: 16px; color: white;">Comidas</ion-label>
    <ion-item *ngFor="let s of servicios | filter: searchTerm" >
      <ion-avatar slot="start"><img src="{{s.urlServicio}}" alt="avatar"></ion-avatar>
      <ion-label class="sitio">{{s.nomServicio}}</ion-label>
      <ion-button class="verMas" [routerLink]="['/service', s.idServicio]" color="primary">Ver más</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
        <ion-label style="font-family: system-ui; font-weight: 800; text-align: center; font-size: 16px; color: white;">Hospedajes</ion-label>
    <ion-item *ngFor="let s of serviciosHoteles | filter: searchTerm" >
      <ion-avatar slot="start"><img src="{{s.urlServicio}}" alt="avatar"></ion-avatar>
      <ion-label class="sitio">{{s.nomServicio}}</ion-label>
      <ion-button class="verMas" [routerLink]="['/service', s.idServicio]" color="primary">Ver más</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-label style="font-family: system-ui; font-weight: 800; text-align: center; font-size: 16px; color: white;">Entretenimientos</ion-label>
<ion-item *ngFor="let s of serviciosEntretenimientos | filter: searchTerm" >
  <ion-avatar slot="start"><img src="{{s.urlServicio}}" alt="avatar"></ion-avatar>
  <ion-label class="sitio">{{s.nomServicio}}</ion-label>
  <ion-button class="verMas" [routerLink]="['/service', s.idServicio]" color="primary">Ver más</ion-button>
</ion-item>
</ion-list>

<ion-list>
  <ion-label style="font-family: system-ui; font-weight: 800; text-align: center; font-size: 16px; color: white;">Compras</ion-label>
<ion-item *ngFor="let s of serviciosCompras | filter: searchTerm" >
<ion-avatar slot="start"><img src="{{s.urlServicio}}" alt="avatar"></ion-avatar>
<ion-label class="sitio">{{s.nomServicio}}</ion-label>
<ion-button class="verMas" [routerLink]="['/service', s.idServicio]" color="primary">Ver más</ion-button>
</ion-item>
</ion-list>

  </div>

</ion-content>

<ion-footer style="background-color: black">
  <div class="tabs">
    <div class="tab-icon" button [routerLink]="['../sitetours']" ><ion-icon class="icon-tabs" name="airplane"></ion-icon></div>
    <div class="tab-icon active" button [routerLink]="['../service']" ><ion-icon class="icon-tabs-active" name="book"></ion-icon></div>
    <div class="tab-icon" button [routerLink]="['../home']"><ion-icon class="icon-tabs" name="home"></ion-icon></div>
    <div class="tab-icon" button [routerLink]="['../emergency']" ><ion-icon class="icon-tabs" name="megaphone"></ion-icon></div>
    <div class="tab-icon" button [routerLink]="['../profile']"><ion-icon class="icon-tabs" name="person"></ion-icon></div>
  </div>
</ion-footer>
