<ion-content fullscreen="true">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title style="font-weight: 800; text-align: center; color: rgb(255, 255, 255); font-family: system-ui; font-size: 17px; text-transform: uppercase;">
        Ruta más optima
      </ion-title>
      <ion-buttons slot="start">
        <ion-fab-button size="small" color="green" [routerLink]="['../sitetours', datos.idSitio]">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid id="map">
  </ion-grid>

  <ion-grid>
    <ion-row id="indicators">
    </ion-row>
  </ion-grid>

</ion-content>
