<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border" [ngStyle]="{'background-image': 'linear-gradient(#13860400 0%, #13860481 80%, #138604d5 100%), url(' + imagen  + ')'}">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-fab-button size="small" color="primary" routerLink="../../shop">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
      <ion-buttons slot="end" (click)="addServiceToFavorite()">
        <ion-fab-button size="small" color="primary">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-label style="color: white;">
      {{nombre}}
      <p class="ion-margin-top">
        <ion-text style="font-family: system-ui; letter-spacing: 0.5px; color: #eee;">{{ubicacion}}</ion-text>
      </p>
    </ion-label>
  </ion-header>

  <ion-segment
  (ionChange)="segmentChanged($event)"
  [(ngModel)]="segmentValue"
  class="ion-padding-horizontal"
  style="margin-top: 2%; background-color: green;">
  <ion-segment-button value="1">
    <ion-label  style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 800; text-transform: uppercase;">Descripción</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label  style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 800; text-transform: uppercase;">Contactos</ion-label>
  </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="segmentValue === '1'">
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none" color="primary">
          <ion-icon name="albums-sharp" slot="start"></ion-icon>
          <ion-label>
            <ion-text color="dark"
            style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 800; text-transform: uppercase;">
            Categoria</ion-text>
            <p>
              <ion-text color="dark">
              <a style="font-size: 0.8rem; font-family: system-ui; font-weight: 450; color: white;">
              {{categoria}}
              </a></ion-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none" color="primary">
          <ion-icon name="star-sharp" slot="start"></ion-icon>
          <ion-label>
            <ion-text color="dark"
            style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 800; text-transform: uppercase;">
            Calificación</ion-text>
            <p>
              <ion-text color="dark"
              style="font-size: 0.8rem; color: white; font-family: system-ui; font-weight: 450;">
              4.8 de 5</ion-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-text color="medium" class="ion-text-justify ion-padding-horizontal description">
        {{descripcion}}
      </ion-text>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="segmentValue === '2'">
    <ion-row>
      <ion-col size="12">
        <ion-item style="font-family: system-ui; font-weight: 650; font-size: 18.2px; color: white; margin-top: 5%;">
          <ion-icon style="color: white; font-size: 35px;" name="logo-facebook"></ion-icon>
          Hotel Mario's
        </ion-item>
        <ion-item style="font-family: system-ui; font-weight: 650; font-size: 18.2px; color: white; margin-top: 5%;">
          <ion-icon style="color: white; font-size: 35px;" name="logo-instagram"></ion-icon>
          @hotelmarios_oficial
        </ion-item>
        <ion-item style="font-family: system-ui; font-weight: 650; font-size: 18.2px; color: white; margin-top: 5%;">
          <ion-icon style="color: white; font-size: 35px;" name="logo-whatsapp"></ion-icon>
          +51(93985241)
        </ion-item>
        <ion-item style="font-family: system-ui; font-weight: 650; font-size: 18.2px; color: white; margin-top: 5%;">
          <ion-icon style="color: white; font-size: 35px;" name="mail"></ion-icon>
          hotelmarios@soporte.com
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
